*.log
__pycache__/
*.h5
*.ipynb
outputs/
*.pyc
.DS_Store
#*.txt
*.npy
outputs/
checkpoints/
wandb/
*.png
*.pdf
*.jpg
*.jpeg
*.gif
*.tiff
*.mp4
*.pt
*.idea
*.out
*.err
*.job
*.csv
data_config.json
config.json
model.safetensors
rng_state.pth
trainer_state.json
training_args.bin
bash_folder
.vscode
ckpt
MLX_ckpts